//color

$white: #ffffff;
$gray-100: #f7f7f7;
$black: #000000;
$black-bg: rgba(0, 0, 0, 0.5);
$orange-500: #AB5325;
$orange-300: #EA7701;
$orange-bg: #B7704C;
$red-500: #94251C;
$red-300: #D80000;
$red-bg: #AD615A;
$green-500: #7BB92D;


