@import "../../styles/variables.scss";

.link {

    &[data-color="white"] {
        color: $white;
    }

    &[data-color="black"] {
        color: $black;
    }

    &[data-externalLink=true] {
        font-size: 12px;
    }

    &[data-externalLink=false] {
        font-size: 18px;
    }
}